canvas#canvas {
  border: 3px inset gray;
}
div#game {
  justify-self: center;
}

div#content {
  display: grid;
  margin: 5% 0 0 0;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

body {
  background-color: black;
}

p, li, a {
  color: white;
}

h1, h2 {
  color: white;
  justify-self: center;
}